* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #008000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size:large;
    color: white;
}
#keyboard-container {
  background-color: #38b000;
    border: 1px solid #ccff33;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
}
.key-command {
    font-size: medium;
}
.key {
    background-color: #70e000;
    border: 3px solid #9ef01a;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.key:hover {
    border:none;
    cursor: pointer;
}
#row-1 {
    display: grid;
    grid-template-columns: repeat(13,5.8%) auto;
    gap: 10px;
    margin: 10px;
}
#row-2 {
    display: grid;
    grid-template-columns:auto repeat(12,5.8%) auto;
    gap: 10px;
    margin: 10px;
}
#row-3 {
    display: grid;
    grid-template-columns: auto repeat(11,5.8%) auto;
    gap: 10px;
    margin: 10px;
}
#row-4 {
    display: grid;
    grid-template-columns: auto repeat(10,5.8%) auto;
    gap: 10px;
    margin: 10px;
}
#row-5 {
    display: grid;
    grid-template-columns:6.5% 5.8% 8.5% auto 8.5% 5.8% 5.8% 5.8%;
    gap: 10px;
    margin: 10px;
}